.headtable{
    background-color: #333333;
    border-width: 0px;
    text-align: center;
    font-size: 50px;
    color:White;
    margin:0;   
}
.bodytable1{
    background-image: linear-gradient(to right, blue , pink);
    border-width: 0;
    text-align: center;
    font-size: 25px;
    color:black;
}
body{
    margin:0;
}
.title{
    font-size: 25px;
    font-family: Tahoma;
}
.shadow{
    background-image: linear-gradient(to right, white,black,white);
    height: 1px;
}
.tab2{
    width: 30%;
}
.but{
    background-color: #333333;
    color:white;
    height: 100%;
    width: 30%;
}